* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../img/bg.jpg);
  border: -10px;
}
header {
  background-image: url(../img/headerimg.png);
  background-size: cover;
  background-position: center;

  height: 250px;
  color: white;
}
header div {
  padding-top: 75px;
  padding-left: 90px;
}
header p {
  margin-top: -20px;
}

.content {
  background-color: peachpuff;
  margin-top: 10px;
  border: 2px solid black;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.imagenCatalogo {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-bottom-right-radius: 5rem;
}

footer {
  text-align: center;
}
